/* src/components/Footer.css */

footer {
    background-color: #333; /* Cor de fundo do rodapé */
    color: white; /* Cor do texto */
    text-align: center; /* Centralizar texto */
    padding: 10px; /* Espaçamento interno */
    position: fixed; /* Fixa o rodapé na parte inferior */
    left: 0;
    right: 0;
    bottom: 0; /* Fixa na parte inferior da página */
  }
  